<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{page.description}}">
	<meta name="author" content="Robert Bickers">
	<link rel="shortcut icon" href="/favicon.ico">

	{% include meta.html %}

	<script data-ad-client="ca-pub-0474548686720487" async
		src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<!-- FontAwesome JS-->
	<script defer src="/assets/fontawesome/js/all.min.js"></script>

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="/assets/css/theme-4.css">
</head>

<body>

	<header class="header text-center">
		<h1 class="blog-name pt-lg-4 mb-0"><a href="/">{{ site.name }}</a></h1>

		<nav class="navbar navbar-expand-lg navbar-dark">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
				aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column">
				<div class="profile-section pt-3 pt-lg-0">
					<img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/profile.png" alt="image">
					<div class="bio mb-3">{{ site.self-introduction }}
						<br />
						<a href="/about">Find out more about me</a>
					</div>

					<!--//social-list-->
					<hr>
					<ul class="navbar-nav flex-column text-left">

						<li class="nav-item">
							<center>
								<a class="nav-link" href="/about">About</a>
							</center>
						</li>

						{% for category in site.categories %}
						<li class="nav-item">
							<center>
								<a class="nav-link" href="/{{category[0]}}">{{ category[0] }}</a>
							</center>
						</li>
						{% endfor%}
					</ul>
					<hr>

					<!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
						<li class="list-inline-item"><a target="_blank"
								href="https://www.linkedin.com/in/robertbickers/"><i
									class="fab fa-linkedin-in fa-fw"></i></a></li>
						<li class="list-inline-item"><a target="_blank" href="https://github.com/RobertBickers"><i
									class="fab fa-github-alt fa-fw"></i></a></li>
					</ul>
				</div>
				<!--//profile-section-->
			</div>
		</nav>
	</header>

	<div class="main-wrapper">
		{{ content }}
	</div>
	<!--//main-wrapper-->

	<!-- Javascript -->
	<script src="/assets/plugins/jquery-3.4.1.min.js"></script>
	<script src="/assets/plugins/popper.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>